#set($author = "Qing2514")
#set($packageName = "com.project")
package ${package.Mapper};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package.Entity}.${entity};

/**
 * $!{table.comment} Mapper
 *
 * @author ${author}
 */
public interface ${table.mapperName} extends BaseMapper<${entity}> {}