<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.modules.ums.mapper.UmsMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.modules.ums.model.UmsMenu">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="title" property="title"/>
        <result column="level" property="level"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="hidden" property="hidden"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <select id="getByUserId" resultType="com.project.modules.ums.model.UmsMenu">
        SELECT m.*
        FROM ums_user_role_relation arr
                 LEFT JOIN ums_role r ON arr.role_id = r.id
                 LEFT JOIN ums_role_menu_relation rmr ON r.id = rmr.role_id
                 LEFT JOIN ums_menu m ON rmr.menu_id = m.id
        WHERE arr.user_id = #{userId}
          AND m.id IS NOT NULL
        GROUP BY m.id
    </select>

    <select id="getByRoleId" resultType="com.project.modules.ums.model.UmsMenu">
        SELECT m.*
        FROM ums_role_menu_relation rmr
                 LEFT JOIN ums_menu m ON rmr.menu_id = m.id
        WHERE rmr.role_id = #{roleId}
          AND m.id IS NOT NULL
        GROUP BY m.id
    </select>

</mapper>
